<p style="color: green"><%= notice %></p>

<%= render(HeaderComponent.new(title: "Posts")) %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render(PostComponent.new(post: post)) %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>

<div data-controller="hello"></div>
<div data-controller="goodbye"></div>

<div data-controller="utilities--md5">
  <%= link_to "Hash this!", "#", "data-action": "utilities--md5#convert" %>
</div>

<div id="app-4">
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>

<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse Message</button>
</div>

<svg width="300" height="200"></svg>

<div id="react"></div>